<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">

</head>
<body>
    <div class="main">
        <h1>Dojos Ninjas</h1>
        <h3>Meet Dojos</h3>
        <div class="dojo">
            <ul>
                {% for dojo in dojos %}
                <li>
                    {{ dojo.name }} - Ninjas: {{ dojo.ninjas.count }}
                    <a href="{% url 'delete_dojo' dojo.id %}">Delete Dojo</a>
                    <ul>
                        {% for ninja in dojo.ninja.all %}
                        <li>{{ ninja.first_name }} {{ninja.last_name }}</li>
                        {% endfor %}
                    </ul>
                </li>
                {% endfor %}
            </ul>
        </div>

        <div class="new_dojo">
            <h2>New Dojo</h2>
            <form action="{% url 'add_dojo' %}" method="POST">
                {% csrf_token %}
                {{ dojo_form.as_p }}
                <button type="submit">Add</button>
            </form>
        </div>
        <div class="new_ninja">
            <h2>New Ninja</h2>
            <form action="{% url 'add_ninja' %}" method="POST">
                {% csrf_token %}
                {{ ninja_form.as_p }}
                <button type="submit">Add</button>
            </form>
        </div>
    </div>
</body>

</html>